.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 50px ;
    background: linear-gradient(135deg, hsl(275, 66%, 40%), #562763);
    color: #fff;
    text-align: center;
  }
  
  .banner-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .banner-subtitle {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  .banner-button {
    background: #fff;
    color: #1f2937;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .banner-button:hover {
    background: #f0f0f0;
  }
  