.footer {
    background-color: #1f2937;
    color: #ccc;
    width: 100%;
    padding: 10px 0 10px;
    /* border-top-left-radius: 125px; */
    line-height: 20px;
    text-align: left;
    font-size: 14px;
    position: sticky;
  }
  
  .footer .row {
    width: 85%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 125px;
    justify-content: space-between;
    background-color: #1f2937;
  }
  
  .footer .col {
    flex-basis: 25%;
    padding: 20px ;
  }
  .footer .col:nth-child(2), .footer .col:nth-child(3) {
    flex-basis: 15%;
  }
  
  .footer-logo {
    width: 200px;
    margin-bottom: 30px;
  }
  
  .footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #ef233c;
    font-size: 18px;
  }
  
  .footer .col .newsletter{
    margin-bottom: 20px;
  }
  
  .email-id{
    width: fit-content;
    border-bottom:1px solid #ccc ;
    margin: 20px 0;
    cursor: pointer;
  }
  
  .footer p {
    color: #edf2f4;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
    list-style: none;
  }
  
  .footer ul li a {
    color: #edf2f4;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    color: #ef233c;
    text-decoration: underline;
  }
  
  /* Newsletter form */
  .footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  
  .footer form .far{
    font-size: 18px;
    margin-right: 10px;
  }
  
  .footer form input {
    width: 100%;
    background: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
  }
  
  .news-form button {
    background-color: #ef233c;
    color: #edf2f4;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .news-form button i{
    font-size: 16px;
    color: whitesmoke;
    margin-right: 5px;
  }
  
  .news-form button:hover {
    background-color: #d90429;
  }
  
  /* Social media icons */
  .social-icons {
    margin-top: 20px;
  }

  .social-icon-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0 8px;
  }
  
  .social-icons a {
    color: #edf2f4;
    font-size: 18px;
    margin-right: 15px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #ef233c;
  }
  @media screen and (max-width: 768px) {
    .footer .row {
      flex-direction: column;
    }
  
    .footer .col {
      margin-bottom: 20px;
    }
  }
  