/* HEADER */
.header {
      width: 100%;
    background: #9417E2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 70px;
}

.header-navbar {
  display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin: auto;
}

/* LOGO */
.header-logo {
  display: flex;
    align-items: center;
    cursor: pointer;
    perspective: 1000px;
}

/* LOGO ANIMATION */
.logo-img-header {
  height: 56px;
  width: auto;
}

.logo-img-header:hover {
  animation: spin360 1s ease-in-out forwards;
}

@keyframes spin360 {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg) scale(1.05);
  }
}


/* MENU ICON */
.header-menu-icon {
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

/* NAVIGATION ITEMS */
.header-nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  size: 10px;
}

/* CENTER NAV LINKS */
.header-nav-center {
  display: flex;
  align-items: center;
  gap: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* RIGHT NAV */
.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  padding-bottom: 14px;
}

/* NAV LINK STYLES */
.header-nav-link {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  position: relative; /* Required for the pseudo-element */
  display: inline-block;
  transition: color 0.3s ease;
  padding-bottom: 20px;
}



/* COMPARE BUTTON */
.compare-btn {
  background-color: #d90429;
  color: #fff;
  padding: 6px 14px;
  border: none;
  border-radius: 101px;
  font-size: 15px;
  font-weight: 500;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.compare-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  transform: skewX(-15deg);
  animation: ripple-left-right 2s linear infinite;
}

@keyframes ripple-left-right {
  0% {
      left: -100%;
  }
  100% {
      left: 100%;
  }
}

/* DEVELOPERS LINK */
.nav-link-deveopers {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fcbf49;
  border-radius: 101px;
  padding: 6px 14px;
  color: #fcbf49;
  font-size: 15px;
  font-weight: 500;
  height: 36px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  gap: -2px;
}

.nav-link-deveopers:hover {
  color: #fff;
  background-color: #fcbf49;
}

.header-nav-icon {
  margin-right: 5px;
}

