.propertyy-card {
  display: flex;
  /* min-height: 100px; */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  background: white;
  max-width: 900px;
  margin: 13px 0;
  position: relative;
}

.card-image-container {
  width: 30%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f5f5f5;
  display: flex;
}
.card-image{
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}
.propertyy-card:hover .card-image {
  transform: scale(1.05);
}
.property-type-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #1f2937;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}
.property-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.property-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -6px;
}
.property-title {
  font-size: 1.4rem; 
  font-weight: 700; 
  color: #222; 
  margin: 1px; 
}
.property-price {
  font-size: 1.3rem; 
  font-weight: 700; 
  color: #D90429; 
}
.property-agent {
  font-size: 14px;
  color: #666;
  padding: 5px;
  padding-bottom: 8px;
}

.property-location {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 3px;
  padding-top: 10px;
}

.property-location svg {
  color: #D90429;
}

.property-features {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 3px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  background-color: #f5f5f5;
  padding: 6px 10px;
  border-radius: 4px;
  color: #1f2937;
}

.feature svg {
  color: #D90429;
}

.property-description {
  margin: 15px 0;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  flex-grow: 1;
}

.property-description p {
  margin: 0;
}

.toggle-description {
  background: none;
  border: none;
  color: #D90429;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  font-weight: 500;
}

.property-footer {
  display: flex;
  justify-content: flex-end;
  margin: -15px;
    padding: 0 10px 15px 
}

.property-actions {
  display: flex; 
  gap: 12px; 
}

.compare-action-button,
.contact-action-button {
  padding: 12px 18px;
  font-weight: 600;
  font-size: 0.9rem; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  border: transparent;
}

.compare-action-button {
  background-color: #D90429; 
  color: white; 
}

.compare-action-button:hover {
  background-color: #D90429; 
}

.contact-action-button {
  background-color: #222; 
  color: white; 
}

.contact-custom-btn-icon{
  color: white;
  gap: 5px;
}

.contact-action-button:hover {
  background-color: #444; 
}


