
.home-hero {
  position: relative;
  width: 100%;
  height: 75vh;
  background:
    linear-gradient(
      rgba(80, 25, 180, 0.4),
      rgba(150, 60, 220, 0.35)
    ),
    url("../../../assests/images/homehero.jpg")
      no-repeat center center / cover;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

/* .hero-overlay {
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
} */


.hero-content {
  position: relative;
  text-align: center;
  max-width: 1360px;
  color: #fff;
}

.hero-content .h1-hero-content {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 16px;

  text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.45);
}

.hero-content .p-hero-content {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.95;
  margin-bottom: 38px;

  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.45);
}


@media (max-width: 900px) {
  .home-hero {
    height: 80vh;
    padding: 0 14px;
  }

  .hero-content .h1-hero-content {
    font-size: 36px;
  }

  .hero-content .p-hero-content {
    font-size: 15px;
    margin-bottom: 28px;
  }
}

@media (max-width: 600px) {
  .home-hero {
    height: 85vh;
  }

  .hero-content .h1-hero-content {
    font-size: 32px;
  }

  .hero-content .p-hero-content {
    font-size: 14px;
  }
}
