/* ========== Landing Section ========== */
.landing-section {
  position: relative;
  width: 100%;
  height:70vh;
  min-height: 600px;
  overflow: hidden;
  background-color: #f5f5f5;


}
.overlay {
  width: 100%;
  height: 100%;
   display: flex;
  align-items: center;
  justify-content: center;

}

.search-bar-container  {
   position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}



/* ========== Search Bar ========== */
.search-bar {
  width: 100%;
  max-width: 600px;
  padding: 1rem 1.5rem;
  /* padding: 0 20px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 10px;   jcnskdvjnkdjvnvsjdvnks HERE */
}


/* ========== Gallery Section ========== */
/* .gallery-section {
  background-color: #f9f9f9;
  padding: 4rem 1rem;
} */

/* ========== WhatsApp Sidebar ========== */
.whatsapp-sidebar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

/* ========== Responsive Adjustments ========== */
/* @media (max-width: 1186px) {
  .landing-section {
    height: 100vh;
    min-height: 500px;
  }
  .search-bar-container {
  max-width: 1000px;
}
}

@media (max-width: 767px) {
  .landing-section {
    height: 70vh;
    min-height: 450px;
  }
  
  .search-bar-container {
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .landing-section {
    height: 60vh;
    min-height: 400px;
  }
  
  .search-bar-container {
    gap: 1rem;
  }
} */

@media (max-width: 1189px){
  .landing-section {
    height: 95vh;
  }
  .search-bar-container {
  padding-bottom: 185px;
}
}


@media (max-width: 1024px){
  .landing-section {
    height: 120vh;
  }
  .search-bar-container {
  padding-bottom: 185px;
}
}

@media (max-width: 767px) {
  .landing-section {
    height: 120vh;
  }
  .search-bar-container {
  padding-bottom: 185px;
}
}

@media (max-width: 477px) {
  .landing-section {
    height: 120vh;
  }
  .search-bar-container {
  padding-bottom: 185px;
}
  
}
