/* ========== Landing Section ========== */
.landing-section {
  position: relative;
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f5f5f5;

}
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.search-bar-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* ========== Gallery Section ========== */
.gallery-section {
  background-color: #f9f9f9;
  padding: 4rem 1rem;
}

/* ========== WhatsApp Sidebar ========== */
.whatsapp-sidebar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

/* ========== Responsive Adjustments ========== */
@media (max-width: 768px) {
  .landing-section {
    height: auto;
    padding: 4rem 1rem;
  }

  .section-title h1 {
    font-size: 1.8rem;
  }

  .section-title p {
    font-size: 1rem;
    padding: 0 10px;
  }

  .search-bar-container {
    flex-direction: column;
    align-items: stretch;}

  .container {
    padding: 0 20px;
  }
}
