/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;     
  text-size-adjust: 100%;         
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  line-height: 1.5;
} */
